.create-product-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  .create-product-container form {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .create-product-container form input {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .create-product-container form input[type='submit'] {
    background-color: green;
    color: #fff;
    cursor: pointer;
  }
  
  .create-product-container form input[type='submit']:hover {
    background-color: green;
  }
  